@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*-----------------buttons*/
.btn_small {
    height: 24px;
    width: 80px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}

.add-button{
    background-color: rgba(142, 124, 157, 0.66);
    border-radius: 40px;
    border: 2px solid black; 
    margin-bottom: 10px
}

.btn_remove{
    background-color: rgba(239, 93, 77, 0.91);
    border-radius: 40px;
    color: white;
    margin-bottom: 10px
}

.btn_edit{
    background-color: rgba(51, 56, 117, 0.91);
    border-radius: 40px;
    color: white;
    margin-bottom: 10px
}

.btn_buy{
    background-color: hsla(158, 8%, 63%, 0.91);
    border-radius: 40px;
    color: white;
    margin-bottom: 10px
}

.btn_save{
    background-color: hsla(158, 29%, 59%, 0.91);
    color: white;
}





.custom_text{
    color: white;
}
/*-----------------Page Headers*/
.page_header {
    margin-top: 5px;
    font-family: garamond;
    font-size: 50;
    color: white;
    text-align: center;
    background: #3b3c5f82;
}

h5{
   font-family: garamond; 
}

/*-----------------Backgrounds*/
.colap-head-style{
    background: #3b3c5f82;
}
.colap-body-style{
    background: rgba(247, 230, 230, 0.7);
}

.add-background{
    background: rgba(255,255,255,0.7);
}

.main_bgd{
    background: url("../images/table.jpg") no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    align-items: center;
    justify-content: center;
    position: relative; 

}

.add-rec-bgd{
    background: url("../images/spicerepeat.jpg") repeat center fixed;
}

.tool_bgd{
    
    background: url("../images/kitchen.jpg") no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.card-bgd {
    background: #3b3c5f82;
}
/*-----------------Nav Style*/
.nav_style{
    background: hsla(36, 56%, 78%, 0.54); 
}

.nav-text{
    font-family: garamond;
}

/*-----------------Add Recipe Style*/
.main-item-style {
    background: rgba(33, 29, 29, 0.42);
}

.ingredient-style {
    background: rgba(33, 29, 29, 0.42);
    padding-right: 10px;
}

.duration-style {
    background: rgba(33, 29, 29, 0.42);
}

.method-style {
    background: rgba(33, 29, 29, 0.42);
}

/*-----------------view Recipe Style*/