.btn_small {
    height: 24px;
    width: 80px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}

.recipe_header {
    margin-top: 5px;
}

.recipe-container{
    background-color: #f05f40; 
}

.recipe-test {
    background: green;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}