@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*-----------------buttongs*/
.btn_small {
    height: 24px;
    width: 80px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}

.add-button{
    background-color: #855bab;
    border-radius: 40px;
    border: 2px solid black; 
}
/*-----------------Page Headers*/
.page_header {
    margin-top: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50;
    color: black;
    text-align: center;
}


/*-----------------Backgrounds*/
.colap-head-style{
    background: rgba(168, 209, 216, 0.7);
}
.colap-body-style{
    background: #4d8cb95e;
}

.add-background{
    background: rgba(255,255,255,0.7);
}

.main_bgd{
    
    background: url("../images/recipes_banner.jpg") no-repeat center fixed;
}




/*-----------------Nav Style*/
.nav_style{
    background: #45899f; 
}

.nav-text{
    color: blue;
    font-family: garamond;
}