<!DOCTYPE html>
<html lang="en">
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	<link rel="stylesheet" href="static/css/style.css" type="text/css" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css" />

</head>
<header>
	<nav>
		<div class="nav-wrapper nav_style">
			<a href="{{url_for('get_recipes')}}" class="brand-logo nav-text">OurCookBook</a>
			<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
			<ul id="nav-mobile" class="right hide-on-med-and-down nav-text">
				<li><a href="{{url_for('recipes_search')}}">Search</a></li>
				<li><a href="{{url_for('add_recipe')}}">New Recipe</a></li>
				<li><a href="{{url_for('get_cuisines')}}">Cuisines</a></li>
				<li><a href="{{url_for('buy_tool')}}">Kitchen Appliances</a></li>
			</ul>
			<ul class="side-nav" id="mobile-demo">
				<li><a href="{{url_for('recipes_search')}}">Search</a></li>
				<li><a href="{{url_for('add_recipe')}}">New Recipe</a></li>
				<li><a href="{{url_for('get_cuisines')}}">Cuisines</a></li>
				<li><a href="{{url_for('buy_tool')}}">Kitchen Appliances</a></li>
			</ul>
		</div>
	</nav>
</header>

<body>

	<div class="container-fluid add-rec-bgd">

		<h4 class="page_header">New Recipe</h4>
		<hr>
		<div class="container">
			<div class="add-background">
				<div class="row">
					<form action="{{ url_for('insert_recipe') }}" method="POST" class="col s12">
						<div class="main-item-style">
							<div class="row">
								<div class="input-field col s12">
									<i class="material-icons prefix">insert_comment</i>
									<input id="recipe_name" name="recipe_name" type="text" class="validate">
									<label for="icon_prefix">Recipe Name</label>
								</div>
							</div>

							<div class="row">
								<div class="input-field col s12">
									<i class="material-icons prefix">language</i>
									<select id="cuisine" name="cuisine">
                                    <option value="" disabled selected>Choose Cuisine</option>
                                    {% for cuisine in cuisines %}
                                    <option value="{{cuisine.name}}">{{cuisine.name}}</option>
                                    {% endfor %}

                                </select>
									<label>Recipe Cuisine</label>
								</div>
							</div>

							<div class="row">
								<div class="input-field col s12">
									<i class="material-icons prefix">restaurant_menu</i>
									<select id="tool" name="tool_name">
                                    <option value="" disabled selected>Choose Tool</option>
                                    {% for tool in tools %}
                                    <option value="{{tool.tool_name}}">{{tool.tool_name}}</option>
                                    {% endfor %}

                                </select>
									<label>Kitchen Tool</label>
								</div>
							</div>

							<div class="row">
								<div class="input-field col s12" id="matfix">
									<i class="material-icons prefix">today</i>
									<input id="season" name="season" type="text" class="datepicker">
									<label for="icon_prefix">Season</label>
								</div>
							</div>
						</div>

						<div class="duration-style">
                    <div class="row">
							<h5 class="center">Duration</h5>
							<div class="input-field col s12 m6 l4">
								<i class="material-icons prefix">access_time</i>
								<textarea name="prep_time" id="prep_time" class="materialize-textarea"></textarea>
								<label for="icon_telephone">Preperation Time</label>
							</div>
							<div class="input-field col s12 m6 l4">
								<i class="material-icons prefix">access_time</i>
								<textarea name="cook_time" id="cook_time" class="materialize-textarea"></textarea>
								<label for="icon_telephone">Cook Time</label>
							</div>
							<div class="input-field col s12 m6 l4">
								<i class="material-icons prefix">access_time</i>
								<textarea name="total_time" id="total_time" class="materialize-textarea"></textarea>
								<label for="icon_telephone">Total Time</label>
							</div>
                    </div>
				</div> 

						<div class="ingredient-style">
                            <div class="row">
							<h5 class="center">Ingredients</h5>
							<div class="input-field col s12">
								<i class="material-icons prefix">filter_1</i>
								<textarea name="main_ingredient" id="main_ingredient" class="materialize-textarea"></textarea>
								<label for="icon_telephone">Main Ingredient</label>
							</div>


							<div class="input-field col s12 m6 l3">
								<i class="material-icons prefix">filter_2</i>
								<textarea name="ing_one" id="ing_one" class="materialize-textarea"></textarea>
								<label for="icon_telephone">Ingredients 1</label>
							</div>
							<div class="input-field col s12 m6 l3">
								<i class="material-icons prefix">filter_3</i>
								<textarea name="ing_two" id="ing_two" class="materialize-textarea"></textarea>
								<label for="icon_telephone">Ingredients 2</label>
							</div>
							<div class="input-field col s12 m6 l3">
								<i class="material-icons prefix">filter_4</i>
								<textarea name="ing_three" id="ing_three" class="materialize-textarea"></textarea>
								<label for="icon_telephone">Ingredient 3</label>
							</div>
							<div class="input-field col s12 m6 l3">
								<i class="material-icons prefix">filter_5</i>
								<textarea name="ing_four" id="ing_four" class="materialize-textarea"></textarea>
								<label for="icon_telephone">Ingredients 4</label>
							</div>
							<div class="input-field col s12 m6 l3">
								<i class="material-icons prefix">filter_6</i>
								<textarea name="ing_five" id="ing_five" class="materialize-textarea"></textarea>
								<label for="icon_telephone">Ingredient 5</label>
							</div>
							<div class="input-field col s12 m6 l3">
								<i class="material-icons prefix">filter_7</i>
								<textarea name="ing_six" id="ing_six" class="materialize-textarea"></textarea>
								<label for="icon_telephone">Ingredient 6</label>
							</div>
							<div class="input-field col s12 m6 l3">
								<i class="material-icons prefix">filter_8</i>
								<textarea name="ing_seven" id="ing_seven" class="materialize-textarea"></textarea>
								<label for="icon_telephone">Ingredient 7</label>
							</div>
							<div class="input-field col s12 m6 l3">
								<i class="material-icons prefix">filter_9</i>
								<textarea name="ing_eight" id="ing_eight" class="materialize-textarea"></textarea>
								<label for="icon_telephone">Ingredient 8</label>
							</div>
                            </div>
						</div>

						<div class="method-style">
                        <div class="row">
							<h5 class="center">Method</h5>
							<div class="input-field col s12 m6 l3">
								<i class="material-icons prefix">filter_1</i>
								<textarea name="step_one" id="step_one" class="materialize-textarea"></textarea>
								<label for="icon_telephone">Step 1</label>
							</div>
							<div class="input-field col s12 m6 l3">
								<i class="material-icons prefix">filter_2</i>
								<textarea name="step_two" id="step_two" class="materialize-textarea"></textarea>
								<label for="icon_telephone">Step 2</label>
							</div>
							<div class="input-field col s12 m6 l3">
								<i class="material-icons prefix">filter_3</i>
								<textarea name="step_three" id="step_three" class="materialize-textarea"></textarea>
								<label for="icon_telephone">Step 3</label>
							</div>
							<div class="input-field col s12 m6 l3">
								<i class="material-icons prefix">filter_4</i>
								<textarea name="step_four" id="step_four" class="materialize-textarea"></textarea>
								<label for="icon_telephone">Step 4</label>
							</div>
							<div class="input-field col s12 m6 l3">
								<i class="material-icons prefix">filter_5</i>
								<textarea name="step_five" id="Step_five" class="materialize-textarea"></textarea>
								<label for="icon_telephone">Step 5</label>
							</div>
							<div class="input-field col s12 m6 l3">
								<i class="material-icons prefix">filter_6</i>
								<textarea name="step_six" id="Step_six" class="materialize-textarea"></textarea>
								<label for="icon_telephone">Step 6</label>
							</div>
                            </div>
						</div>

						<div class="row center">
							<button class="btn waves-effect waves-light add-button" type="submit" name="action">Add Recipe
                            <i class="material-icons right">playlist_add</i>
                    </button>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
            $('.collapsible').collapsible();
            $('select').material_select();
            $(".button-collapse").sideNav();
        });

        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15, // Creates a dropdown of 15 years to control year,
            today: 'Today',
            clear: 'Clear',
            close: 'Ok',
            closeOnSelect: false // Close upon selecting a date,
        });

        document.getElementById("matfix").addEventListener("click", function(e) {
	    e.stopPropagation();
        });


	</script>

</body>

</html>