<!DOCTYPE html>
<html lang="en">
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	<link rel="stylesheet" href="static/css/style.css" type="text/css" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css" />

</head>
<header>
	<nav>
		<div class="nav-wrapper nav_style">
			<a href="{{url_for('get_recipes')}}" class="brand-logo nav-text">Cook Book</a>
			<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="{{url_for('recipes_search')}}">Search</a></li>
				<li><a href="{{url_for('add_recipe')}}">New Recipe</a></li>
				<li><a href="{{url_for('get_cuisines')}}">Manage Cuisines</a></li>
			</ul>
			<ul class="side-nav" id="mobile-demo">
				<li><a href="{{url_for('recipes_search')}}">Search</a></li>
				<li><a href="{{url_for('add_recipe')}}">New Recipe</a></li>
				<li><a href="{{url_for('get_cuisines')}}">Manage Cuisines</a></li>
			</ul>
		</div>
	</nav>
</header>

<body>

	<div class="container-fluid tool_bgd">
		<h4 class="page_header white-text">Choose from the wonderful Cook Book range</h4>
		<hr>
		<div class="container">
			<div class="row">
				{% for tool in tools %}
				<div class="col s12 m6 l4">
                    <div class="card card-bgd">
                        <div class="card-content white-text">
                            <span class="card-title"><strong>€{{tool.tool_cost}}:<i> Cook Book</i> {{tool.tool_name}}:</strong></span>
                            <p>{{tool.tool_description}}</p>
                            <div class="row center card-action">
                                <a href="" class="waves-effect waves-light btn add-button">Buy</a>
                            </div>
                        </div>    
                    </div>
				</div>

				{% endfor %}
			</div>
		</div>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>

</html>