{% extends 'base.html'%} {% block content %}

<div class="row">

    <h3>Cuisines</h3>
    <ul class="collapsible" data-collapsible="accordion">
        {% for cuisine in cuisines %}
        <li>
            <div class="collapsible-header">
                <a href="{{url_for('delete_cuisine', cuisine_id=cuisine._id)}}" class="waves-effect waves-light btn btn_small">Del</a>
                <a href="{{url_for('edit_cuisine', cuisine_id=cuisine._id)}}" class="waves-effect waves-light btn btn_small blue">Edit</a>
                    
                <div class="recipe_header">
                    <strong>{{cuisine.cuisine_type}}</strong>
                </div>
            </div>
        </li>
        {% endfor %}

    </ul>
</div>
<div>
    <a href="{{url_for('add_cuisine')}}"   class="waves-effect waves-light btn"><i class="material-icons right">playlist_add</i>Add Cuisine</a>
</div>
{% endblock %}