{% extends 'base.html' %}

{% block content %}
<h4 class="page_header">Recipies</h4>
<hr>
<div class="container colap-body-style">
	<ul class="collapsible" data-collapsible="accordion">
		{% for recipe in recipes %}
		<li>
			<div class="collapsible-header colap-head-style">
				<div class="col l1">
					<i class="material-icons">expand_more</i>
				</div>
				<div class="col l3">
					<div class="inline-actions">
						<a href="{{url_for('delete_recipe', recipe_id=recipe._id)}}"
							class="waves-effect waves-light btn_remove btn_small center">Remove</a>
						<a href="{{url_for('edit_recipe', recipe_id=recipe._id)}}"
							class="waves-effect waves-light btn_edit btn_small center">Edit</a>
					</div>
				</div>
				<div class="col l9">
					<strong>{{recipe.recipe_name}}</strong> - {{recipe.main_ingredient}} - {{recipe.cuisine}} Cuisine
				</div>


			</div>
			<div class="collapsible-body">

				<div class="row center">
					<form action="{{ url_for('one_tool')}}" method="POST" class="col s12">
						<div class="row center">

							{% for tool in recipe.tools %}

							<div class="col s12 m4 l4">
								<div class="card card-bgd">
									<div class="card-content white-text center">
										<span class="card-title">{{tool}}</span>
									</div>
									<div class="row">
										<div class="input-field col s12">
											<input hidden value="{{tool}}" id="tool_name" name="tool_name" type="text" class="validate">
										</div>
									</div>
									<div class="center">
										<button class="waves-effect waves-light btn_edit center btn_small" type="submit" name="action">Buy
										<i class="material-icons right">playlist_add</i>
										</button>
									</div>
								</div>
							</div>

							{% endfor %}
						</div>

					</form>
				</div>


				<div class="row duration-style center">
					<strong>Duration:</strong></br>
					<div class="col s6 m16 l4 center">
						<i class="material-icons prefix">access_time</i>
						<p>Preperation: {{recipe.prep_time}} minutes</p>
					</div>
					<div class="col s6 m6 l4 center">
						<i class="material-icons prefix">access_time</i>
						<p>Cook: {{recipe.cook_time}} minutes</p>
					</div>
					<div class="col s12 m12 l4 center">
						<i class="material-icons prefix">access_time</i>
						<p>Total: {{recipe.total_time}} hours</p>
					</div>
				</div>

				<!--Ingredients-->

				<div class="row ingredient-style">
					<div class="col s12 m3 l3">
						<span><strong>Ingredients:</strong></span></br>
						<ol>
							<li>{{recipe.main_ingredient}}</li>
							{% for ingredient in recipe.ingredients %}
							<li>{{ ingredient }}</li>
							{% endfor %}
						</ol>
					</div>

					<div class="col s12 m9 l9">
						<strong>Method:</strong></br>
						<ol>
							{% for step in recipe.steps %}
							<li>{{ step }}</li></br>
							{% endfor %}
						</ol>
					</div>
				</div>

				<div class="row center ingredient-style">
					<span><strong>Seaon:</strong> {{recipe.season}}</span>
					<br>
                </div>
				</div>
		</li>

		{% endfor %}
	</ul>
</div>

{% endblock %}